body{
font-family: Arial;
background: #f4f6f9;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.chat-container{
width: 420px;
background: white;
padding: 20px;
border-radius: 12px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chatbox{
height: 350px;
overflow-y: auto;
display: flex;
flex-direction: column;
gap: 8px;
padding: 10px;
border: 1px solid #ddd;
margin-bottom: 10px;
}

.user{
align-self: flex-end;
background: #007bff;
color: white;
padding: 10px;
border-radius: 12px 12px 0 12px;
max-width: 70%;
}

.bot{
align-self: flex-start;
background: #e9ecef;
padding: 10px;
border-radius: 12px 12px 12px 0;
max-width: 70%;
}

.input-area{
display: flex;
gap: 5px;
}

input{
flex: 1;
padding: 10px;
border: 1px solid #ccc;
border-radius: 6px;
}

button{
padding: 10px 15px;
background: #007bff;
color: white;
border: none;
border-radius: 6px;
cursor: pointer;
}
/* DARK MODE */

.dark-mode{
background: #1e1e1e;
color: white;
}

.dark-mode .chat-container{
background: #2c2c2c;
}

.dark-mode .chatbox{
border: 1px solid #444;
}

.dark-mode .bot{
background: #3a3a3a;
color: white;
}

.dark-mode input{
background: #444;
color: white;
border: 1px solid #666;
}