<!DOCTYPE html>
<html>
<head>

<title>AI College Assistant</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="chat-container">

<h2>🎓 College AI Assistant</h2>

<button id="darkModeToggle">🌙 Dark Mode</button>
<div id="chatbox" class="chatbox">
<div class="bot">Hello! Ask me anything about the college.</div>
</div>

<div class="input-area">

<input type="text" id="userInput" placeholder="Type your message...">

<button onclick="sendMessage()">Send</button>

</div>

<iframe
width="300"
height="200"
style="border:0"
loading="lazy"
src="https://www.google.com/maps?q=Sarala+Birla+University+Ranchi&output=embed">
</iframe>

</div>

<script src="/static/script.js"></script>

</body>
</html>